

header{
    background-color:#F1ECE6;
    margin:0;
    padding:0.1%;
}
header h1{
    text-align: center;
    font-size:300%;
    padding:0;
}

.section{
    display:flex;
    justify-content:space-between;
    padding-right:30%;
    padding-left:30%;
    background-color:#F3F3F3;

}

.section p{
    font-size: 20px;
}

hr{
    margin:3%;
    border:0.5px solid #76B7CD;
}
.section1{
    margin-right:30%;
    margin-left:30%;
    margin-top:3%;
    margin-bottom:2%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F1ECE6;
    border-radius:20px;
}


.section1 .search{
    width:100%;
    border-radius:20px;
    Padding-left:5%;
    padding:1.5%;
    background:transparent;
    border:none;
    padding-left:3%;
    flex:1;
    outline:none;
}

.section1 button{
    border-radius:0 20px 20px 0;
    border:none;
    cursor:pointer;
    background-color:#76B7CD;
    outline:none;
    padding:2% 3%;
}


.sect{
    margin-right:30%;
    margin-left:30%;
    padding-left:3%;
    padding-right:3%;
    padding-top: 2%;
    Padding-bottom:0%;
    border-radius:3.5%;
    background-color:#F1ECE6;
    border:none;
}

li{
    list-style: none;
}

.section2 .ul{
    align-items:center;
}
.section2 label{
    font-size:100%;
}

.section2  .fa-solid{
    margin-left:90%;
    color:#DB8A34; 
}


.section3 .fa-solid{
    color:#DB8A34;   
}

.one{
    transform:scale(1.5);
    cursor:pointer;
    
}

.sect .section3{
    display:flex;
    flex:wrap;
    align-items:center;
    justify-content: right;
    margin-top:15%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sect .section3 .fa-solid{
    color:#DB8A34;   
    margin-right:2%;
}

.section3 .complete{
    color:#DB8A34;   
    margin-left:2%;
    white-space:nowrap;
    font-size:100%;
}

@media screen and (max-width: 1000px){
    body{
        background-color:purple;
    }

       .section2 .fa-solid{
            margin-left:10%;
    }
}
